[user]
    email = cpde@getbraintree.com
    editor = /usr/local/bin/vim
[color]
    ui = auto
[alias]
  ci = commit
  co = checkout
  st = status
  ch = cherry -v origin
  br = branch
  addall = add -A .
[core]
    excludesfile = /Users/michaelnussbaum08/.gitignore_global
